{erl_opts, [debug_info]}.
{deps, [
       {pmod_transform, {git, "https://github.com/erlang/pmod_transform.git", {branch, "master"}}},
       {poolboy, {git, "https://github.com/GlenWalker/poolboy.git", {branch, "master"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [nova_db]}
]}.
